<h1 class="text-center">Restaurants list</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant.id), class: "btn btn-link" do %>
            <li class="list-group-item">
              <%= restaurant.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

